body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #324652;
}
html {
  scroll-behavior: smooth;
}
p {
  font-size: 16px;
}
li p {
  padding: 0;
  margin: 0;
}
.modal-backdrop {
  background-color: #3b4756;
}
.modal-backdrop.show {
  opacity: 0.65;
}
/*MAIN HEADER*/
#main-logo {
  display: block;
  z-index: 200;
  position: relative;
  padding: 10px;
  transition: all 2s;
  background: rgba(86, 95, 107, 0.9);
}

#main-logo a.main-logo img {
  width: 80px;
}
header a.close-nav {
  display: none;
}
header a.open-nav {
  display: inline-block;
}

header a.close-nav img,
header a.open-nav img {
  width: 23px;
}
header a.close-nav,
header a.open-nav {
  padding: 9px 10px;
  background: rgba(86, 95, 107, 0.9);
  position: absolute;
  top: 10px;
  right: 10px;
}
.show-logo {
  transition: all 2s;
  background: rgba(86, 95, 107, 0) !important;
}
/*END OF MAIN HEADER STYLES*/
/*SIDE BAR NAV*/
/*.side-bar-hide{
    display:none;
}
.side-bar-show{
    display:block;
}*/
.side-bar {
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: -213px;
  background-color: rgba(86, 95, 107, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  width: 213px;
}
.side-bar a {
  color: #fff;
}
.side-bar h3 {
  display: block;
  border-bottom: solid 1px #6f7780;
}

.side-bar h3 a {
  font-size: 1.125rem;
  display: block;
  position: relative;
  top: 13px;
  left: 6px;
  text-transform: uppercase;
}
.side-bar ul {
  margin: 10px;
  list-style-type: none;
  padding: 0;
}

.side-bar ul li {
  list-style-type: none;
}

.side-bar ul.sub-menu {
  margin: 5%;
  background-color: rgba(86, 95, 107, 0.5);
  display: block;
  width: 90%;
}
.side-bar ul.sub-menu li {
  border-bottom: solid 1px #6f7780;
  padding: 12px 0;
}
.side-bar ul.sub-menu a {
  font-family: "Cormorant Garamond", serif;
  font-size: 1rem;
  padding-left: 10px;
}
/*END OF SIDE BAR STYLES/

/*CAROUSEL STYLES*/
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel-inner h5 {
  font-family: "Cormorant Garamond", serif;
  font-size: 45px !important;
  text-shadow: 0 10px 15px #1c222a;
}

.carousel-inner h5 abbr {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px !important;
  display: block;
}
.carousel-inner h5 small {
  font-size: 22px !important;
  display: block;
}
.carousel-inner h5 span {
  font-size: 28px;
  display: block;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 100px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: right;
  font-size: 16px;
}
.carousel-indicators {
  bottom: 60px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-family: "Cormorant Garamond", serif;
  font-size: 45px;
  background: none !important;
  font-weight: 100;
}
/*END OF CAROUSEL STYLES*/
/*FOOTER STYLES*/
footer {
  display: inline-block;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #3b4756;
  padding: 10px;
  z-index: 300;
}

footer p,
footer a {
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

footer a,
footer span {
  text-decoration: none;
  font-weight: 700;
}
/*END OF FOOTER STYLES*/

/*ITEMS LIST*/
section.top {
  margin-top: 10%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 45px 0;
}
section.bottom {
  padding-top: 45px;
  padding-bottom: 70px;
}
section.bottom.dark {
  background-color: #2e3239;
}
section.bottom.light {
  background-color: #ffffff;
}
section.bottom .card.mb-2 {
  background-repeat: no-repeat;
  background-color: transparent;
  height: 210px;
  width: 100%;
  background-size: cover;
}
section.bottom .btn-primary {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  height: 100%;
  border: 0 solid green;
  border-radius: 0;
  vertical-align: bottom;
  line-height: 365px;
  text-align: right;
}
section.bottom .btn-primary:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
.card {
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0;
}

.controls-top {
  text-align: right;
  position: relative;
  top: 44px;
  z-index: 2;
  left: -5px;
}
a.btn-floating {
  color: #ffffff;
  border: solid 2px #ffffff;
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 28px;
  border-radius: 21px;
  font-weight: 400;
  font-size: 27px;
  position: absolute;
  top: -40px;
  right: 0px;
  background-color: #2e3239;
  transition: all 0.3s;
}

a.btn-floating:hover {
  background-color: #ffffff;
  color: #2e3239;
  text-decoration: none;
}
a.btn-floating.prev {
  right: 40px;
  text-indent: -2px;
}
a.btn-floating.next {
  text-indent: 2px;
}

.apartments-list {
  background-image: url(../assets/carousel/home/04.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.amenities-list {
  background-image: url(../assets/carousel/home/04.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
/*END OF ITEMS LIST*/
/*ITEM DETAIL STYLES*/

section#more-info {
  padding-top: 50px;
  padding-bottom: 50px;
}
section#about-this {
  padding-bottom: 50px;
}
section#about-this .inner-block {
  background: url(../assets/bg-more-info.jpg) no-repeat center;
  background-size: cover;
  padding: 25px 25px 11px 25px;
  color: #fff;
  text-shadow: 0px 4px 3px #000;
}

section#about-this .inner-block p small {
  font-size: 15px;
  display: block;
}

section#about-this .inner-block p {
  font-size: 24px;
  display: block;
  line-height: 28px;
  font-weight: 600;
  /* padding-top: 22px; */
  border-left: none;
  padding: 28px;
  padding-bottom: 25px;
  border-bottom: solid 1px;
  text-align: center;
}

section#about-this .inner-block h4 {
  color: #ffffff;
}
section#tour {
  position: relative;
}
.gallery-access {
  position: relative;
  display: inline-table;
}

/*END OF ITEM DETAIL STYLES*/
/*TYPO STYLES*/
h1,
h2,
h3 {
  color: #324652;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}
h1 span,
h2 span,
h3 span {
  font-weight: 900;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 24px;
  color: #ffffff;
}
h4 {
  text-transform: uppercase;
  font-size: 24px;
}

/*END OF TYPE STYLES*/

/*CUSTOM BUTTONS*/
.btn-type-01 {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  color: #fff;
  background-color: rgb(86, 95, 107);
  text-align: center;
  width: 230px;
  border-radius: 35px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  transition: all 0.2s;
}
.btn-type-01:hover {
  text-decoration: none;
  background-color: #1c222a;
  color: #ffffff;
}
a.more-info {
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  z-index: 1000;
}
.gallery-access-button {
  position: absolute;
  color: #fff;
  background: #3b4756;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 1.3em;
  outline: 0px !important;
  border: solid 1px #3b4756;
  transition: all 0.2s;
}

.gallery-access-button:hover {
  background-color: #fff;
  color: #3b4756;
  border: solid 1px #3b4756;
}

.gallery-access-button.open {
  right: 0;
  bottom: 0;
}

.gallery-access-button.closed {
  right: 0;
  top: -40px;
}
.floor-plans-access-button,
.floor-plans-access-button:hover {
  color: #fff;
  text-decoration: none;
}
a.floor-plans-access-button.open i {
  text-indent: 0;
}
/* .btn-type-01 {
} */
.btn-hide {
  display: none;
  opacity: 0;
}
.btn-show {
  display: block !important;
  opacity: 1;
}
.to-tour {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 1000;
  display: none;
}

/*END OF CUSTYOM BUTTONS*/
/*POP UP STYES*/
.modal.fade .modal-content {
  border: 0;
  border-radius: 0;
}
.modal.fade .modal-header {
  height: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
  border: 0;
}
.modal.fade .modal-body {
  padding: 0;
  text-align: center;
}
.modal.fade h5 {
  color: #ffffff;
  font-size: 14px !important;
  padding: 5px;
  margin: 0;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif !important;
  text-align: center;
  bottom: 0;
  background: #3b4756;
}
.modal.fade .carousel-caption {
  bottom: 0;
  padding: 0;
  margin: 0;
}

/*END OF POP UP STYLES*/

/* START OF NEW HOME STYLES*/

section.bg-grey {
  background-color: #c0c6cd;
}
div.bg-greyLight {
  background-color: #cdd1d7;
}

/* END OF NEW HOME STYLES*/

/*RESPONSIVE STYLES*/
/* Extra small devices (portrait phones, less than 576px)*/
/* No media query since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  /*   #main-logo { */
  /*background: red!important;*/
  /*   } */

  .carousel-inner h5 abbr {
    font-size: 30px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /*   #main-logo { */
  /*background: green!important;*/
  /*   } */

  .carousel-inner h5 abbr {
    font-size: 70px !important;
  }

  .carousel-inner h5 span {
    font-size: 40px;
    display: block;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  /*MAIN HEADER*/
  #main-logo {
    display: inline-block;
    z-index: 200;
    position: fixed;
    padding: 10px;
    transition: all 2s;
    background: rgba(86, 95, 107, 0.9);
    top: 0;
  }
  #main-logo a.main-logo img {
    width: 193px !important;
  }
  header a.close-nav,
  header a.open-nav {
    left: 223px;
    right: inherit;
  }
  .carousel-inner h5 abbr {
    font-size: 90px !important;
  }
  footer {
    position: fixed;
    display: block;
  }

  .controls-top {
    text-align: right;
    position: relative;
  }
  h1 {
    font-size: 47px;
  }

  h2 {
    font-size: 24px;
  }

  h4 {
    text-transform: uppercase;
    font-size: 31px;
  }

  .carousel-inner h5 small {
    font-size: 42px !important;
    display: block;
  }

  .carousel-inner h5 span {
    font-size: 70px;
    display: block;
}
  section#more-info {
    padding-top: 100px;
  }

  section#about-this .inner-block p {
    font-size: 30px;
    display: block;
    line-height: 28px;
    font-weight: 600;
    border-left: solid 1px;
    border-bottom: none;
    padding: 25px 16px;
    text-align: left;
  }
  .gallery-access-button.closed {
    right: -40px;
    top: 0px;
  }

  a.floor-plans-access-button.open i {
    text-indent: 20px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /*   #main-logo { */
  /*background: blue!important;*/
  /*   } */
  .carousel-inner h5 abbr {
    font-size: 120px !important;
  }
}
/*HEADER*/

/*RESPONSIVE HEADER*/
